.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.nav-bar {
    margin-bottom: 10px;
    background-color: #002054;
    color: white;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    --amplify-primary-color: #002054;
    --amplify-primary-tint: #002054;
    --amplify-primary-shade: #002054;
}

amplify-authenticator {
    --amplify-primary-color: #002054;
    --amplify-primary-tint: #002054;
    --amplify-primary-shade: #002054;
    display: flex;
    justifyContent: center;
    alignItems: center;
    flex: 1;
    height: 100vh;
    background-image: url("./bg.jpg");
    background-color: #828a87!important;
    --background-color: #828a87!important;
}